<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>InitController.java</display-name>
    <servlet-name>InitController.java</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitController.java</servlet-name>
    <url-pattern>/InitController.java</url-pattern>
  </servlet-mapping>
  <display-name>JDBC_001</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InitController</display-name>
    <servlet-name>InitController</servlet-name>
    <servlet-class>com.simplilearn.webapp.web.InitController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitController</servlet-name>
    <url-pattern>/InitController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>init-connect</display-name>
    <servlet-name>init-connect</servlet-name>
    <servlet-class>com.simplilearn.webapp.web.InitController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>init-connect</servlet-name>
    <url-pattern>/init-connect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Initcontroller</display-name>
    <servlet-name>Initcontroller</servlet-name>
    <servlet-class>com.simplilearn.webapp.web.Initcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Initcontroller</servlet-name>
    <url-pattern>/Initcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProject</display-name>
    <servlet-name>AddProject</servlet-name>
    <servlet-class>com.simplilearn.webapp.web.AddProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProject</servlet-name>
    <url-pattern>/AddProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListProduct</display-name>
    <servlet-name>ListProduct</servlet-name>
    <servlet-class>com.simplilearn.webapp.web.ListProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProduct</servlet-name>
    <url-pattern>/ListProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProduct</display-name>
    <servlet-name>UpdateProduct</servlet-name>
    <servlet-class>com.simplilearn.webapp.web.UpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProduct</servlet-name>
    <url-pattern>/UpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProduct</display-name>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>com.simplilearn.webapp.web.DeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrirveProduct</display-name>
    <servlet-name>RetrirveProduct</servlet-name>
    <servlet-class>com.simplilearn.webapp.web.RetrirveProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrirveProduct</servlet-name>
    <url-pattern>/RetrirveProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductPrepStmt</display-name>
    <servlet-name>AddProductPrepStmt</servlet-name>
    <servlet-class>com.simplilearn.webapp.web.AddProductPrepStmt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductPrepStmt</servlet-name>
    <url-pattern>/AddProductPrepStmt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductPrepstm</display-name>
    <servlet-name>AddProductPrepstm</servlet-name>
    <servlet-class>com.simplilearn.webapp.web.AddProductPrepstm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductPrepstm</servlet-name>
    <url-pattern>/AddProductPrepstm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductCallablestm</display-name>
    <servlet-name>AddProductCallablestm</servlet-name>
    <servlet-class>com.simplilearn.webapp.web.AddProductCallablestm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductCallablestm</servlet-name>
    <url-pattern>/AddProductCallablestm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateDB</display-name>
    <servlet-name>CreateDB</servlet-name>
    <servlet-class>com.simplilearn.webapp.web.CreateDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateDB</servlet-name>
    <url-pattern>/CreateDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DropDB</display-name>
    <servlet-name>DropDB</servlet-name>
    <servlet-class>com.simplilearn.webapp.web.DropDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DropDB</servlet-name>
    <url-pattern>/DropDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMultiProducts</display-name>
    <servlet-name>AddMultiProducts</servlet-name>
    <servlet-class>com.simplilearn.webapp.web.AddMultiProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMultiProducts</servlet-name>
    <url-pattern>/AddMultiProducts</url-pattern>
  </servlet-mapping>
</web-app>